body {
    background-color: #4A0404;
    font-family: 'Google Sans Flex';
    font-weight: 300;

}

p {
    color: blanchedalmond
}

h1 {
    color: blanchedalmond;
    font-family: Mukta Malar;
    font-size: 45px;
}

h2 {
    color: blanchedalmond;
}

h3 {
    color: blanchedalmond;
    font-family: Martel;
}

h4 {
    color: blanchedalmond;
}

em {
    color: blanchedalmond
}

ul {
    color: blanchedalmond;
}